.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
tfplan
*.tfplan
*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
